<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Kadede, quedar, deporte, ocio, salir, salidas, quedada, quedadas">
		<meta name"description" content="Kadede">
		<title>Kadede | Imprimir: Visita a la Alhambra</title>
		<link rel="stylesheet" type="text/css" href="../css/printable.css"/>
	</head>

	<body id="imprimible"> <!-- Informacion relevante de la pagina de impresion -->
		<div class="dinA4">

			<header class="headerImprimible"> <!-- Cabecera de la pagina de impresion -->
				<h1><a href="./portada.html" id="printable-main-title">kadede.es</a></h1>
				<a href="./index.php"><img src="../images/logo_black.png" id="printable-logo" /></a>
				<h3 id="sloganImprimible">Tu mejor web para crear y unirte a quedadas</h3>
			</header>

			<div class="main-contentImprimible"> <!-- Datos del evento preparados para la impresion -->

				<h2 class="h2Imprimible">Visita a la Alhambra</h2>
				<h3 class="h3Imprimible">Organizado por: Andrés Roca Montero</h3>
				<h4 class="h4Imprimible">Fecha y hora del evento: <time datetime="2019-04-17 11:00">17 de abril 11:00 am</time></h4>

				<div id="left">
					<p class="pImprimible">
						Ya seas natural de Granada o un visitante de fuera, la Alhambra es un
						 mágico lugar que hay que visitar al menos una vez en la vida. E incluso
					 	 si ya la habías visto sigue mereciendo la pena volver, pues seguramente
					 	 queden rincones que aún no hayas explorado.
					</p>
					<p class="pImprimible">
						Únete a nosotros en esta quedada para recorrer el que quizás sea el
						 monumento más bello y representativo del legado nazarí mientras conoces
					 	 gente con ganas de pasarlo bien y disfrutas de un fabuloso día de primavera.
					</p>
				</div>
				<div id="right">
					<p class="pImprimible">
						La idea es formar un grupo de como mínimo 8 personas y de un máximo
						 de 20 (nos encanta que venga cuanta más gente mejor, pero tampoco se
						 trata de colapsar el lugar).
					</p>
					<p class="pImprimible">
						Nos reuniremos en el día y hora indicados arriba. Recomentamos llevar
						 la entrada comprada de antes para evitar engorrosas colas. También
						 sería buena idea que traigáis algo de comer y de beber. Por favor,
						 confirmad vuestra asistencia SOLO si vais a venir.
					</p>
					<p class="pImprimible">
						¿A qué estás esperando? ¡Únete!

					</p>
				</div>
			</div>

			<div>
				<p>Video: Un paseo por la alhambra</p>
				<p>URL: https://www.youtube.com/watch?v=P9MnwfHCuDI</p>
			</div>

			<div class="img-wrap" > <!-- Contenedor de las imagenes del evento, nombre de la misma y copyright -->
				<figure class="thumbnail-imagenEvento">
					<img alt="FotoAlhambra1" class="imagenImprimibleIzq" src="../images/Alhambra carrusel 1.jpg" >
				</figure>
			</div>

			<footer class="footerImprimible"> <!-- pie de pagina de impresion con los datos de la web -->
				<address id="contactImprimible">Correo de contacto: info@kadede.es</address>
				<small id="copyrightImprimible">2019 Kadede. All rights reserved.</small>
			</footer>
		</div>
	</body>

</html>
